<script>
    var channel;
    $(function () {
// Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;
        var token = document.getElementsByName('csrf-token')[0].content

        var pusher = new Pusher('d3a2645cfa3fdd883877', {
            cluster: 'us2',
            auth: {
                params: {
                    CSRFToken: token
                }
            }
        });

        channel = pusher.subscribe('private-test-input-client-<%= @team_round.team.name.parameterize %>-20-update-channel');
        channel.bind('client-update', function (data) {
            // alert(JSON.stringify(data));
            update_data_from_pusher(data);
        });
        channel.bind("pusher:subscription_succeeded", function () {
            console.log("Subscribe Succeeded");

        });
        $('.synced-input').keyup(function () {
            console.log("Value d Changed!")
            var the_value = $(this).val();
            var the_id = $(this)[0].id;
            console.log("The id is " + the_id);
            var theTrigger = channel.trigger('client-update', {
                type: "text",
                id: the_id,
                contents: the_value
            });
        });


    });
</script>

<%= form_with url: "/input_screen/" + @input_screen.input_screen_number.to_s + "/submit_decisions", method: :post do |form| %>
  <%= render :partial => 'input_screen_button_bar', locals: {input_screen: @input_screen} %>
  <%= render :partial => '/home/page_header', locals: {header_text: "Lines of Credit"} %>
  <div class="row">
    <div class="col-4 p-2 text-end px-5 ">
      Small Business
    </div>
    <div class="col-4 p-2 text-end px-5">
      Middle Market
    </div>
    <div class="col-4 p-2 text-end px-5">
      Large Corporate
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "Marketing ($-millions)", name: "commercial_lending_lines_of_credit_small_business_marketing", value_label: "$"} %>
      </div>

    </div>
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "", name: "commercial_lending_lines_of_credit_middle_market_marketing", value_label: "$"} %>
      </div>

    </div>
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "", name: "commercial_lending_lines_of_credit_large_corporate_marketing", value_label: "$"} %>
      </div>
    </div>

  </div>
  <div class="row row-eq-height">
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "Rate (basis points)", name: "commercial_lending_lines_of_credit_small_business_rate", value_label: "#"} %>
      </div>

    </div>
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "", name: "commercial_lending_lines_of_credit_middle_market_rate", value_label: "#"} %>
      </div>
    </div>
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "", name: "commercial_lending_lines_of_credit_large_corporate_rate", value_label: "#"} %>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4 p-2">
      <div>
      </div>

      <div>
        <%= render :partial => 'select_box', locals: {label: "Credit Policy", name: "commercial_lending_lines_of_credit_small_business_credit_policy", values: ["Moderate", "Liberal", "Conservative"], value_label: "$"} %>
      </div>

    </div>
    <div class="col-4 p-2">

      <div>
        <%= render :partial => 'select_box', locals: {label: "", name: "commercial_lending_lines_of_credit_middle_market_credit_policy", values: ["Moderate", "Liberal", "Conservative"], value_label: "$"} %>
      </div>

    </div>
    <div class="col-4 p-2">


      <div>
        <%= render :partial => 'select_box', locals: {label: "", name: "commercial_lending_lines_of_credit_large_corporate_credit_policy", values: ["Moderate", "Liberal", "Conservative"], value_label: "$"} %>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-4 p-2">
      <div>
      </div>


      <div>
        <%= render :partial => 'select_box', locals: {label: "Collections Strategy", name: "commercial_lending_lines_of_credit_small_business_collections_strategy", values: ["Moderate", "Liberal", "Conservative"], value_label: "$"} %>
      </div>
    </div>
    <div class="col-4 p-2">


    </div>
    <div class="col-4 p-2">



    </div>

  </div>

  <div class="row py-2">
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "RAROC", data: @data['commercial_lending_lines_of_credit_graph_1'], options: @options['commercial_lending_lines_of_credit_graph_1']} %>
    </div>
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Loans Outstanding", data: @data['commercial_lending_lines_of_credit_graph_2'], options: @options['commercial_lending_lines_of_credit_graph_2']} %>
    </div>

  </div>


  <div class="row py-2">
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Revenue", data: @data['commercial_lending_lines_of_credit_graph_3'], options: @options['commercial_lending_lines_of_credit_graph_3']} %>
    </div>
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Charge-off Rate", data: @data['commercial_lending_lines_of_credit_graph_4'], options: @options['commercial_lending_lines_of_credit_graph_4']} %>
    </div>

  </div>

  <%= render :partial => '/home/page_header', locals: {header_text: "Commercial Real Estate (CRE) Loans"} %>
  <div class="row">
    <div class="col-4 p-2 text-end px-5 ">
      Small Business
    </div>
    <div class="col-4 p-2 text-end px-5">
      Middle Market
    </div>
    <div class="col-4 p-2 text-end px-5">
      Large Corporate
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "Marketing ($-millions)", name: "commercial_lending_cre_loans_small_business_marketing", value_label: "$"} %>
      </div>

    </div>
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "", name: "commercial_lending_cre_loans_middle_market_marketing", value_label: "$"} %>
      </div>
    </div>
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "", name: "commercial_lending_cre_loans_large_corporate_marketing", value_label: "$"} %>
      </div>
    </div>

  </div>
  <div class="row row-eq-height">
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "Rate  (basis points)", name: "commercial_lending_cre_loans_small_business_rate", value_label: "#"} %>
      </div>

    </div>
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "", name: "commercial_lending_cre_loans_middle_market_rate", value_label: "#"} %>
      </div>
    </div>
    <div class="col-4 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "", name: "commercial_lending_cre_loans_large_corporate_rate", value_label: "#"} %>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4 p-2">


      <div>
        <%= render :partial => 'select_box', locals: {label: "Credit Policy", name: "commercial_lending_cre_loans_small_business_credit_policy", values: ["Moderate", "Liberal", "Conservative"], value_label: "$"} %>
      </div>

    </div>
    <div class="col-4 p-2">


      <div>
        <%= render :partial => 'select_box', locals: {label: "", name: "commercial_lending_cre_loans_middle_market_credit_policy", values: ["Moderate", "Liberal", "Conservative"], value_label: "$"} %>
      </div>

    </div>
    <div class="col-4 p-2">


      <div>
        <%= render :partial => 'select_box', locals: {label: "", name: "commercial_lending_cre_loans_large_corporate_credit_policy", values: ["Moderate", "Liberal", "Conservative"], value_label: "$"} %>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-4 p-2">



      <div>
        <%= render :partial => 'select_box', locals: {label: "Collections Strategy", name: "commercial_lending_cre_loans_small_business_collections_strategy", values: ["Moderate", "Liberal", "Conservative"], value_label: "$"} %>
      </div>
    </div>
    <div class="col-4 p-2">



    </div>
    <div class="col-4 p-2">



    </div>

  </div>


  <div class="row py-2">
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "RAROC", data: @data['commercial_lending_cre_graph_1'], options: @options['commercial_lending_cre_graph_1']} %>
    </div>
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Loans Outstanding", data: @data['commercial_lending_cre_graph_2'], options: @options['commercial_lending_cre_graph_2']} %>
    </div>

  </div>


  <div class="row py-2">
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Revenue", data: @data['commercial_lending_cre_graph_3'], options: @options['commercial_lending_cre_graph_3']} %>
    </div>
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Charge-off Rate", data: @data['commercial_lending_cre_graph_4'], options: @options['commercial_lending_cre_graph_4']} %>
    </div>

  </div>





  <%= render 'input_screen_bottom_button_bar' %>

<% end %>