<script>
    var channel;
    $(function () {
// Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;
        var token = document.getElementsByName('csrf-token')[0].content

        var pusher = new Pusher('d3a2645cfa3fdd883877', {
            cluster: 'us2',
            auth: {
                params: {
                    CSRFToken: token
                }
            }
        });

        channel = pusher.subscribe('private-test-input-client-<%= @team_round.team.name.parameterize %>-20-update-channel');
        channel.bind('client-update', function (data) {
            // alert(JSON.stringify(data));
            update_data_from_pusher(data);
        });
        channel.bind("pusher:subscription_succeeded", function () {
            console.log("Subscribe Succeeded");

        });
        $('.synced-input').keyup(function () {
            console.log("Value d Changed!")
            var the_value = $(this).val();
            var the_id = $(this)[0].id;
            console.log("The id is " + the_id);
            var theTrigger = channel.trigger('client-update', {
                type: "text",
                id: the_id,
                contents: the_value
            });
        });



    });
</script>
<%= form_with url: "/input_screen/" + @input_screen.input_screen_number.to_s + "/submit_decisions", method: :post do |form| %>
<!--<form action="/input_screen/<%#= @input_screen.input_screen_number %>/submit_decisions" method="post">-->

<%= render  :partial => 'input_screen_button_bar' , locals: {input_screen: @input_screen}  %>

  <%= render :partial => '/home/page_header', locals: {header_text: "Credit Cards"} %>
  <div class="row">
    <div class="col-12">
      <div class="text-end">
        Marketing ($-millions)
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "Annual Fee", name: "consumer_lending_credit_cards_annual_fee", value_label: "$"} %>
      </div>
      <div>
        <%= render :partial => 'input_box', locals: {label: "APR", name: "consumer_lending_credit_cards_apr", value_label: "%"} %>
      </div>
      <div>
        <%= render :partial => 'input_box', locals: {label: "Cash Back Feature", name: "consumer_lending_credit_cards_cash_back_feature", value_label: "$"} %>
      </div>
      <div>
        <%= render :partial => 'input_box', locals: {label: "Minimum Credit Score", name: "consumer_lending_credit_cards_minimum_credit_score", value_label: "$"} %>
      </div>
      <div>
        <%= render :partial => 'select_box', locals: {label: "Collections Strategy", name: "consumer_lending_credit_cards_collections_strategy", values: ["Moderate", "Liberal", "Conservative"], value_label: "$"} %>
      </div>
    </div>
    <div class="col-6 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "Underbanked", name: "consumer_lending_credit_cards_underbanked", value_label: "$"} %>
      </div>
      <div>
        <%= render :partial => 'input_box', locals: {label: "Mass Market", name: "consumer_lending_credit_cards_mass_market", value_label: "$"} %>
      </div>
      <div>
        <%= render :partial => 'input_box', locals: {label: "Mass Affluent", name: "consumer_lending_credit_cards_mass_affluent", value_label: "$"} %>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Deposit Balances", data: @data['consumer_lending_credit_cards_graph_1'], options: @options['consumer_lending_credit_cards_graph_1']} %>
    </div>
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Cost of Funding", data: @data['consumer_lending_credit_cards_graph_2'], options: @options['consumer_lending_credit_cards_graph_2']} %>
    </div>

  </div>
  <div class="row py-2">
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Deposit Margin", data: @data['consumer_lending_credit_cards_graph_3'], options: @options['consumer_lending_credit_cards_graph_3']} %>
    </div>
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Products Per Customer", data: @data['consumer_lending_credit_cards_graph_4'], options: @options['consumer_lending_credit_cards_graph_4']} %>
    </div>

  </div>




  <%= render :partial => '/home/page_header', locals: {header_text: "Consumer Loans"} %>

  <div class="row">
    <div class="col-12">
      <div class="text-end">
        Marketing ($-millions)
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "APR", name: "consumer_lending_consumer_loans_apr", value_label: "%"} %>
      </div>
      <div>
        <%= render :partial => 'input_box', locals: {label: "Minimum Credit Score", name: "consumer_lending_consumer_loans_minimum_credit_score", value_label: "#"} %>
      </div>

      <div>
        <%= render :partial => 'select_box', locals: {label: "Collections Strategy", name: "consumer_lending_consumer_loans_collections_strategy", values: ["Moderate", "Liberal", "Conservative"], value_label: "$"} %>
      </div>
    </div>
    <div class="col-6 p-2">
      <div>
        <%= render :partial => 'input_box', locals: {label: "Underbanked", name: "consumer_lending_consumer_loans_underbanked", value_label: "$"} %>
      </div>
      <div>
        <%= render :partial => 'input_box', locals: {label: "Mass Market", name: "consumer_lending_consumer_loans_mass_market", value_label: "$"} %>
      </div>
      <div>
        <%= render :partial => 'input_box', locals: {label: "Mass Affluent", name: "consumer_lending_consumer_loans_mass_affluent", value_label: "$"} %>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "RAROC", data: @data['consumer_lending_consumer_loans_graph_1'], options: @options['consumer_lending_consumer_loans_graph_1']} %>
    </div>
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Loans Outstanding", data: @data['consumer_lending_consumer_loans_graph_2'], options: @options['consumer_lending_consumer_loans_graph_2']} %>
    </div>

  </div>

  <div class="row py-2">
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Revenue", data: @data['consumer_lending_consumer_loans_graph_3'], options: @options['consumer_lending_consumer_loans_graph_3']} %>
    </div>
    <div class="col-6">
      <%= render :partial => 'bar_graph', locals: {title: "Charge-off Rate", data: @data['consumer_lending_consumer_loans_graph_4'], options: @options['consumer_lending_consumer_loans_graph_4']} %>
    </div>


  </div>

<%= render 'input_screen_bottom_button_bar' %>
<% end %>